openapi: 3.0.3
info:
  title: AyosNow MVP API
  version: "1.0.0"
  description: MVP REST API contract for AyosNow customer app, provider app, admin dashboard, payments, wallet, complaints, and reporting.
servers:
  - url: https://api.ayosnow.ph/api/v1
    description: Production
  - url: https://staging-api.ayosnow.ph/api/v1
    description: Staging
security:
  - bearerAuth: []
tags:
  - name: Auth
  - name: Customer
  - name: Provider
  - name: Services
  - name: Bookings
  - name: Dispatch
  - name: Payments
  - name: Wallet
  - name: Complaints
  - name: Admin

paths:
  /auth/customer/register:
    post:
      tags: [Auth]
      security: []
      summary: Register customer
      operationId: registerCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCustomerRequest"
      responses:
        "201":
          description: Customer created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/RegisterCustomerResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"

  /auth/provider/register:
    post:
      tags: [Auth]
      security: []
      summary: Register provider
      operationId: registerProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterProviderRequest"
      responses:
        "201":
          description: Provider application created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/RegisterProviderResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Conflict"

  /auth/otp/send:
    post:
      tags: [Auth]
      security: []
      summary: Send OTP
      operationId: sendOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendOtpRequest"
      responses:
        "200":
          description: OTP sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SendOtpResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/otp/verify:
    post:
      tags: [Auth]
      security: []
      summary: Verify OTP
      operationId: verifyOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOtpRequest"
      responses:
        "200":
          description: OTP verified
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/VerifyOtpResponse"
        "422":
          $ref: "#/components/responses/BusinessRuleFailed"

  /customers/me:
    get:
      tags: [Customer]
      summary: Get current customer profile
      operationId: getCustomerMe
      responses:
        "200":
          description: Customer profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [customer, addresses]
                        properties:
                          customer:
                            $ref: "#/components/schemas/Customer"
                          addresses:
                            type: array
                            items:
                              $ref: "#/components/schemas/CustomerAddress"

  /customers/addresses:
    post:
      tags: [Customer]
      summary: Create customer address
      operationId: createCustomerAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAddressRequest"
      responses:
        "201":
          description: Address created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CustomerAddress"

  /services/categories:
    get:
      tags: [Services]
      security: []
      summary: List active service categories
      operationId: listServiceCategories
      responses:
        "200":
          description: Service categories
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ServiceCategory"

  /bookings:
    post:
      tags: [Bookings]
      summary: Create booking
      operationId: createBooking
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBookingRequest"
      responses:
        "201":
          description: Booking created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Booking"
        "422":
          $ref: "#/components/responses/BusinessRuleFailed"

  /bookings/{booking_id}:
    get:
      tags: [Bookings]
      summary: Get booking
      operationId: getBooking
      parameters:
        - $ref: "#/components/parameters/BookingId"
      responses:
        "200":
          description: Booking details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Booking"

  /bookings/{booking_id}/cancel:
    post:
      tags: [Bookings]
      summary: Cancel booking
      operationId: cancelBooking
      parameters:
        - $ref: "#/components/parameters/BookingId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelBookingRequest"
      responses:
        "200":
          description: Booking cancelled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Booking"

  /admin/dispatch/queue:
    get:
      tags: [Dispatch]
      summary: List dispatch queue
      operationId: listDispatchQueue
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: status
          in: query
          schema:
            type: string
        - name: city_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Dispatch queue
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Booking"
                      meta:
                        $ref: "#/components/schemas/PaginationMeta"

  /admin/dispatch/assign:
    post:
      tags: [Dispatch]
      summary: Assign provider to booking
      operationId: assignProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignProviderRequest"
      responses:
        "200":
          description: Provider assigned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Assignment"

  /providers/jobs:
    get:
      tags: [Provider]
      summary: List provider jobs
      operationId: listProviderJobs
      responses:
        "200":
          description: Provider jobs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Assignment"

  /providers/jobs/{assignment_id}/accept:
    post:
      tags: [Provider]
      summary: Accept job
      operationId: acceptJob
      parameters:
        - $ref: "#/components/parameters/AssignmentId"
      responses:
        "200":
          description: Job accepted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Assignment"

  /providers/jobs/{job_id}/complete:
    post:
      tags: [Provider]
      summary: Complete job
      operationId: completeJob
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteJobRequest"
      responses:
        "200":
          description: Job completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Booking"

  /payments/checkout:
    post:
      tags: [Payments]
      summary: Create payment checkout
      operationId: createCheckout
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutRequest"
      responses:
        "201":
          description: Checkout created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CheckoutResponse"

  /payments/webhook:
    post:
      tags: [Payments]
      security:
        - webhookSignature: []
      summary: Receive payment webhook
      operationId: paymentWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentWebhookRequest"
      responses:
        "200":
          description: Webhook accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"

  /providers/wallet:
    get:
      tags: [Wallet]
      summary: Get provider wallet
      operationId: getProviderWallet
      responses:
        "200":
          description: Wallet
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/WalletSummary"

  /providers/payouts:
    post:
      tags: [Wallet]
      summary: Request provider payout
      operationId: requestPayout
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutRequest"
      responses:
        "201":
          description: Payout requested
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Payout"

  /complaints:
    post:
      tags: [Complaints]
      summary: Create complaint
      operationId: createComplaint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateComplaintRequest"
      responses:
        "201":
          description: Complaint created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Complaint"

  /admin/reports/executive:
    get:
      tags: [Admin]
      summary: Executive KPI report
      operationId: getExecutiveReport
      parameters:
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Executive report
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ExecutiveReport"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    webhookSignature:
      type: apiKey
      in: header
      name: X-AyosNow-Signature

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 160
    BookingId:
      name: booking_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    AssignmentId:
      name: assignment_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    BusinessRuleFailed:
      description: Business rule failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    RateLimited:
      description: Rate limited
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

  schemas:
    SuccessEnvelope:
      type: object
      required: [success, data, meta, error]
      properties:
        success:
          type: boolean
          example: true
        data:
          nullable: true
        meta:
          nullable: true
        error:
          nullable: true
          example: null

    ErrorEnvelope:
      type: object
      required: [success, data, meta, error]
      properties:
        success:
          type: boolean
          example: false
        data:
          nullable: true
          example: null
        meta:
          type: object
          properties:
            request_id:
              type: string
        error:
          $ref: "#/components/schemas/ErrorDetail"

    ErrorDetail:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          enum: [VALIDATION_ERROR, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, CONFLICT, BUSINESS_RULE_FAILED, RATE_LIMITED, SERVER_ERROR]
        message:
          type: string
        fields:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    RegisterCustomerRequest:
      type: object
      required: [mobile, password, first_name, last_name]
      properties:
        mobile:
          type: string
          example: "+639171234567"
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        first_name:
          type: string
        last_name:
          type: string

    RegisterCustomerResponse:
      type: object
      required: [customer_id, otp_required]
      properties:
        customer_id:
          type: string
          format: uuid
        otp_required:
          type: boolean

    RegisterProviderRequest:
      type: object
      required: [provider_type, mobile, password, display_name, city_id, service_item_ids]
      properties:
        provider_type:
          type: string
          enum: [individual, team, company]
        mobile:
          type: string
        password:
          type: string
          minLength: 8
        display_name:
          type: string
        city_id:
          type: string
          format: uuid
        service_item_ids:
          type: array
          items:
            type: string
            format: uuid

    RegisterProviderResponse:
      type: object
      properties:
        provider_id:
          type: string
          format: uuid
        verification_status:
          type: string
          enum: [pending]

    SendOtpRequest:
      type: object
      required: [mobile, purpose]
      properties:
        mobile:
          type: string
        purpose:
          type: string
          enum: [register, login, password_reset, payout, profile_change]

    SendOtpResponse:
      type: object
      properties:
        otp_token:
          type: string
        expires_in:
          type: integer

    VerifyOtpRequest:
      type: object
      required: [otp_token, otp_code]
      properties:
        otp_token:
          type: string
        otp_code:
          type: string
          minLength: 6
          maxLength: 6

    VerifyOtpResponse:
      type: object
      properties:
        verified:
          type: boolean
        access_token:
          type: string
        refresh_token:
          type: string

    Customer:
      type: object
      required: [id, first_name, last_name, status]
      properties:
        id:
          type: string
          format: uuid
        first_name:
          type: string
        last_name:
          type: string
        status:
          type: string
          enum: [active, suspended, closed]

    CustomerAddress:
      type: object
      properties:
        id:
          type: string
          format: uuid
        label:
          type: string
        city_id:
          type: string
          format: uuid
        line1:
          type: string
        landmark:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        is_active:
          type: boolean

    CreateAddressRequest:
      type: object
      required: [label, region_id, city_id, line1]
      properties:
        label:
          type: string
        region_id:
          type: string
          format: uuid
        city_id:
          type: string
          format: uuid
        barangay_id:
          type: string
          format: uuid
        line1:
          type: string
        landmark:
          type: string
        latitude:
          type: number
        longitude:
          type: number

    ServiceCategory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/ServiceItem"

    ServiceItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        pricing_model:
          type: string
          enum: [fixed, estimated, quote_required]
        base_price:
          type: number

    CreateBookingRequest:
      type: object
      required: [service_item_id, customer_address_id, requested_schedule, description]
      properties:
        service_item_id:
          type: string
          format: uuid
        customer_address_id:
          type: string
          format: uuid
        requested_schedule:
          type: string
          format: date-time
        description:
          type: string
        photo_urls:
          type: array
          items:
            type: string

    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [draft, submitted, pending_dispatch, assigned, provider_accepted, provider_declined, in_progress, completed_by_provider, confirmed_completed, cancelled, disputed]
        requested_schedule:
          type: string
          format: date-time
        description:
          type: string
        service_snapshot:
          type: object
        address_snapshot:
          type: object

    CancelBookingRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string

    AssignProviderRequest:
      type: object
      required: [booking_id, provider_id, reason]
      properties:
        booking_id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        reason:
          type: string

    Assignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        booking_id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [assigned, accepted, declined, cancelled, completed]

    CompleteJobRequest:
      type: object
      required: [completion_notes]
      properties:
        completion_notes:
          type: string
        evidence_urls:
          type: array
          items:
            type: string

    CheckoutRequest:
      type: object
      required: [booking_id, payment_method]
      properties:
        booking_id:
          type: string
          format: uuid
        payment_method:
          type: string
          enum: [card, gcash, maya, bank_transfer]

    CheckoutResponse:
      type: object
      properties:
        payment_id:
          type: string
          format: uuid
        checkout_url:
          type: string
          format: uri
        status:
          type: string

    PaymentWebhookRequest:
      type: object
      required: [gateway, event_id, event_type, payment_reference, status, amount, currency]
      properties:
        gateway:
          type: string
        event_id:
          type: string
        event_type:
          type: string
        payment_reference:
          type: string
        status:
          type: string
        amount:
          type: number
        currency:
          type: string

    WalletSummary:
      type: object
      properties:
        provider_id:
          type: string
          format: uuid
        available_balance:
          type: number
        held_balance:
          type: number
        currency:
          type: string
        recent_entries:
          type: array
          items:
            $ref: "#/components/schemas/WalletLedgerEntry"

    WalletLedgerEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        entry_type:
          type: string
        direction:
          type: string
          enum: [credit, debit]
        amount:
          type: number
        created_at:
          type: string
          format: date-time

    PayoutRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: number
        notes:
          type: string

    Payout:
      type: object
      properties:
        id:
          type: string
          format: uuid
        requested_amount:
          type: number
        status:
          type: string
          enum: [requested, under_review, approved, rejected, released, failed]

    CreateComplaintRequest:
      type: object
      required: [booking_id, category, description]
      properties:
        booking_id:
          type: string
          format: uuid
        category:
          type: string
        description:
          type: string
        evidence_urls:
          type: array
          items:
            type: string

    Complaint:
      type: object
      properties:
        id:
          type: string
          format: uuid
        booking_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [open, under_review, awaiting_customer, awaiting_provider, resolved, rejected, escalated]
        category:
          type: string
        description:
          type: string

    ExecutiveReport:
      type: object
      properties:
        booking_count:
          type: integer
        captured_revenue:
          type: number
        provider_earnings:
          type: number
        payout_total:
          type: number
        complaint_count:
          type: integer
        cancellation_rate:
          type: number
